::selection {
  background: #FFFEF2;
  color: #DBB569;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'system-ui';
}

body, html {
  background: #f2f2f2;
  height: 100%;
  margin: 0;  
}

.carousel .control-dots .dot.selected{
  background: #DBB569;
  outline: none;
}
.slider-redes{
  width: 40%;
  position: absolute;
  margin-top: -38%;
  margin-left: 7%;
  z-index: 2;
}
  li.slider{
    text-decoration: none;
    outline:none;
  }
.slider video{
    width: 101%;
    height: auto;
    outline:none;
    border: none;
    text-decoration: none;
  }

.slider-button{
  color: #FFFEF2;
  background: #DBB569;
  border-radius: 9px;
  border: none;
  box-shadow: none;
  font-size: 2rem;
  padding: 8px 18px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  z-index: 5;
  margin-right: auto;
  display: block;
  margin-top: 18%;
}

.slider-icon-redes{
  margin-top: 6%;
  text-align: left;
} 

.slider-icon-redes a{
  color: #DBB569;
  font-size: 1.5rem;
  text-decoration: none;
  outline: none;
  margin-right: 9%;
}

.cont-title-sections{
  width: 90%;
  text-align: center;
  margin: 0 0 5% 0;
}

.title-sections{
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  font-weight: 400;
  position:relative;
  display:inline-block;
  width: 80%;
  color: #011227;
  letter-spacing: 1.8px;
}
.title-sections::before, .title-sections::after {
  content:' ';
  display:block;
  position:absolute;
  top: 55%;
  left:-120px;
  width: 46%;
  height:3px;
  border:none;
  background: rgb(190,150,93);
  background: linear-gradient(90deg, rgba(190,150,93,1) 0%, rgba(151,111,64,1) 35%, rgba(255,203,133,1) 68%, rgba(151,111,64,1) 100%);
}
.title-sections::after {
  left:auto; right:-120px;
}

#exept-title-modelos::before, #exept-title-modelos::after{
  width: 36%;
}

#exept-title-sistemas::before, #exept-title-sistemas::after {
  width: 29%;
}

#exept-title-showroom::before, #exept-title-showroom::after {
  width: 43%;
}

@media screen and (max-width:767px){
  .slider-redes {
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: -109%;
    margin-left: 0;
  }
  .slider-button{
    font-size: 1rem;
    padding: 5px 12px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }
  #info-1{
  }
  #info-2{

  }
  #info-3{
    margin-top: 76%;
  }
  .slider-icon-redes {
    display: none;
  }
  .carousel .control-dots {
    margin: 5px 0;
  }

  .title-sections{
    font-size: 1.8rem;
    margin-top: 20%;
  }
  .cont-title-sections {
    width: 100%;
  }
  .title-sections::before, .title-sections::after {
    width: 25%;
  }
  #exept-title-modelos::before, #exept-title-modelos::after {
    width: 6%;
  }
  .title-sections::before, .title-sections::after {
    left: -18px;
  }
  .title-sections::after {
    left: auto;
    right: -15px;
  }
}


@media screen and (min-width: 1200px) and (max-width:1400px) {
  .container {
    max-width: 99% !important;
  }
  .title-sections {
    font-size: 2.8rem;
  }
  .title-sections::before {
    left: -84px;
  }
  .title-sections::after{
    right: -84px; 
  }
  #exept-title-modelos::before, #exept-title-modelos::after {
    width: 30%;
  }
}